* {
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background-color: #eff0ef;
}
.coffee-master{
    display: flex;  
    margin:0;
    padding:0;
    align-items: center;
    justify-content: center;
    background-color: #412316;
    height: 70px;
}

.logo{
    width: 30px;
    height: 30px;
}

.logo-title{
    color: #bbac86;
}

.main-page{
    display: grid;
    margin: 20px;
    grid-template-areas: 
    'items items   name'
    'items items   name'
    'items items  payment'
    ;
}

.items{
    grid-area:items;
    background-color: #eee1d5;
    border-radius: 8px;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;

}

.item-title{
    padding:10px;
    color:#885a2d;
    font-weight: normal;
    font-size: 16px;
}

.option{
    color:#885a2d;
    padding-top: 2px;
}

.line{
    border-bottom:2px solid #DDB892;
    padding-bottom: 10px;
}

.price-1{
    padding-left: 100px;
    text-align: right;
}

.bold{
    font-weight: bold;
}

.space{
    border-bottom: 2px solid #DDB892;
}

.name{
    grid-area:name;
    background-color: #eee1d5;
    border-radius: 8px;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
}

.name-title{
    color:#885a2d;
    font-weight: normal;
    font-size: 16px;
}


.payment{
    grid-area:payment;
    background-color: #eee1d5;
    border-radius: 8px;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
}

.payment-title{
    color:#885a2d;
    font-weight: normal;
    font-size: 16px;
}


.name-for-order, .card-number{
    width: 100%;
}

.input-group{
    position: relative;
    display: block;
    margin: 15px;
}

.input-label{
    background-color:#eee1d5;
    color: #885a2d;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -5px;
    padding: 0px 2px;
}
input{
    border: 2px solid #8a5c30;
    border-radius: 20px;
    background-color: #eee1d5;
    padding: 8px;
}

.total{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.place-order{
    text-align: center;
    justify-content: center;
    padding: 7px;
    margin: 20px auto;
    background-color: #deb993;
    border-radius: 200px;
    width: 70%;
}

.item-table{
    width: 100%;
    border-collapse: collapse;
}

.total-table{
    width: 50%;
    padding: 20px;
    border-collapse: separate;
    border-spacing: 0px 15px;
}