* {
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
}
.coffee-master{
    display: flex;  
    margin:0;
    padding:0;
    align-items: center;
    justify-content: center;
    background-color: #412316;
}

.logo{
    width: 30px;
    height: 30px;
}

.logo-title{
    color: #bbac86;
}

.main-page{
    display: grid;
    margin: 20px;
    grid-template-areas: 
    'items items   name'
    'items items   name'
    'items items  payment'
    ;
}

.items{
    grid-area:items;
    background-color: #eee1d5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    padding: 10px;
    margin: 10px;
}

.item-title{
    padding:10px;
    color:#885a2d;
    font-weight: normal;
    font-size: 16px;
}








.name{
    grid-area:name;
    background-color: #eee1d5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    margin: 10px;
    padding: 10px 20px;
}

.name-title{
    color:#885a2d;
    font-weight: normal;
    font-size: 16px;
}


.payment{
    grid-area:payment;
    background-color: #eee1d5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    margin: 10px;
    padding: 10px 20px;
}

.payment-title{
    color:#885a2d;
    font-weight: normal;
    font-size: 16px;
}


.input-group{
    position:relative;
    display: block;
}

.input{
    padding: 5px;
    margin: 8px;
    border: 2px solid;
    border-color:#885a2d;
    border-radius: 15px;
    background-color: #eee1d5;

}

.input-label{
    background-color: #eee1d5;
    color:#885a2d;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -3px;
    padding: 0px 2px;
}

.name-for-order, .card-number{
    width: 100%;
    max-width: 400px;
}


.total{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.place-order{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    background-color: #deb993;
    border-radius: 20px;
}
table{
    width: 100%;
}

.price-1{
    text-align: right;
}

.bold{
    font-weight: bold;
}